.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-bottom: 1px solid blueviolet;
}
.header img{
    height: 80px;
    padding-right: 20px;
}
.header h2{
    color: teal;
}